{% extends 'index.html' %}
{% load static %}
{% block contenedorgeneral %}
    <!-- Recorremos cada elem -->
    {% for i in listarr %}
    <div class="lista">
        <img src="{% static 'img/d.png' %}" alt="">
        <div class="listaa">
            <h1 class="info">INFORMACIÓN</h1>
            <h2 class="info">El Codigo es: {{ i.Codigo }}</h2>
            <h3 class="info">El Precio es: {{ i.Precio }}</h3>
            <h3 class="info">El Nombre es: {{ i.Nombre }}</h3>
            <h4 class="info">La descripcion es: {{ i.Descripcion }}</h4>
            <img src="{{ i.productos.url }}" alt="">
        </div>
    </div>
       
    {% endfor %}

{% endblock %}